
body { overflow-x: hidden}

  /** hero */

  .graphic-header {
    background: #555;
  }

  /** end hero */

  /** page layout */

  .layout {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin: auto;
    padding: 24px;
  }

  .layout>.column--content {
    flex: 1;
    max-width: 720px;
  }

  /** end page layout */


  /** table base */

  .table {
    position: relative;
  }

  .table__head th,
  .table__body td {
    border: none;
    padding: 8px;
    vertical-align: middle;
  }

  /** zebra stripe rows */
  .table__row:nth-child(2n) {
    background-color: #f5f9ff
  }

  /** row hover color */
  .table__body .table__row:hover {
    cursor: pointer;
    background: rgba(226, 64, 0, 0.1);
  }

  @media (min-width: 768px) {

    .table__head th,
    .table__body td {
      padding: 16px;
    }
  }

  /** end table base  */


  /** table header row */

  .table {
    border-collapse: separate;
  }

  .table__head {
    text-transform: uppercase;
    color: #737373;
    font-family: GT-Eesti-Display-Bold, sans-serif;
    font-size: 1.2rem;
    text-align: left;
  }

  .table__head th {
    position: sticky;
    top: 56px;
    background: #fff;
  }

  .table__head .table__cell:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .table__head .table__cell:focus {
    outline: none;
    border-bottom-color: #e24000;
  }

  /** ignore button column header */
  .table__head .table__cell--button {
    pointer-events: none
  }

  @media(min-width: 768px) {
    .table__head {
      font-size: 1.5rem;
    }
  }

  /** end table header row */


  /** table body */

  /** table name column */

  .table__body .table__cell--name {
    font-family: GT-Eesti-Display-Bold, sans-serif;
    text-transform: uppercase;
    color: #434778;
    font-size: 1.4rem;
  }

  @media(min-width: 768px) {
    .table__body .table__cell--name {
      font-size: 2.1rem;
    }
  }

  /** end table name column */

  /** table number column */

  .table__body .table__cell--number {
    font-family: GT-Eesti-Display-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  @media(min-width: 768px) {
    .table__body .table__cell--number {
      font-size: 1.8rem;
    }
  }

  /** end table number column */


  /** table button column */

  .table__cell--button {
    display: none;
    padding: 0;
    width: 176px;
  }

  .table__cell--button .btn {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-family: GT-Eesti-Display-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #999;
  }

  .table__row:hover .table__cell--button .btn {
    color: #e24000;
  }

  .table__cell--button .btn .fa {
    margin-left: 8px;
  }

  @media(min-width: 1024px) {
    .table__cell--button {
      display: table-cell;
    }
  }

  /** end table button column */

  /** end table body */


  /** table footer */

  .caption {
    font-size: 1.2rem;
    color: #7d7d7d;
  }

  @media(min-width: 768px) {
    .caption {
      font-size: 1.4rem;
    }
  }

  /** end table footer */



  .column .subhead {
    margin-bottom: 24px;
    color: #e24000;
  }

  .layout {
    display: flex;
    max-width: 1200px;
  }

  .map {
    width: 100%;
    height:100%;
    min-height: 360px;
    background:#ccc;
  }

  .map .mapboxgl-ctrl-top-right {
    top: 50%;
    right: 0;
    margin-top: -50px;
  }

  .section {
    position:relative;
    display: block;
    padding: 64px 24px;
  }

  .section:nth-child(2n-1) {
    background: #f4f7f9;
  }


  .section .details {
    min-width: 320px;
    max-width: 480px;
    margin:auto;
    padding:0;
  }

  .section .details .title {
    font-family: GT-Eesti-Display-Bold,sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: .07rem;
    line-height: 1.25;
    margin-bottom: 24px;
  }

  .section .details p {
    line-height: 1.5;
  }

  .section .visual {
    position:relative;
    min-width: 320px;
   
  }

  .section .legend {
    display:flex;
    flex-direction: row;
    margin:auto;
    margin-bottom: 16px;
    flex-wrap: wrap;
    max-width: 240px
  }

  .section .section__content {
    position:relative;
    max-width: 1440px;
    width: 100%;
    height:100%;
    margin: 0 auto;
    flex:1;
  }

  /** push map to edges */
  .section.section--map .visual {
    margin-left:-24px;
    margin-right:-24px;
    margin-bottom: 24px;
  }

  @media(min-width: 1024px) {
    .section {
      padding: 64px 40px;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;
      min-height: 480px;
    }


    .section .details,
    .section .legend,
    .section .footnote {
      margin:0 0 16px 0;
      width: 40%;
      flex-grow: 0;
    }

    .section .details {
      max-width: none;
    }

    .section .visual {
      position: absolute;
      right:0;
      top:0;
      bottom:0;
      width: 50%;
    }
    .section.section--chart .visual {
      top: 0;
      bottom: 0;
      right: 0;
    }


    .section.section--map .section__content {
      position: static;
    }

    .section.section--map .visual {
      margin-left:0px;
      margin-right:0px;
      margin-bottom:0;
    }
  }

  @media(min-width: 1426px) {
    .section {
      min-height: 560px;
    }
  }

  .visual__title {
    font-size: 1.2rem;
    line-height: 1.25;
    color: #7d7d7d;
    text-align: center;
  }


  .intro {
    position: relative;
    max-width: 720px;
    margin:auto;
    padding: 0 24px 64px 24px;
  }

  .intro .lead {
    font-size: 1.6rem;
    margin-top: 24px;
    line-height: 1.42;
    margin-right: 0;
  }

  .intro .share__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.4rem;
    padding: 8px 0;
    line-height: 1;
    font-family: GT-Eesti-Display-Bold,sans-serif;
    color: #7d7d7d;
  }
  .intro .share__link:hover {
    color: #e24000;
  }
  .intro .share__link .fa {
    margin: 0 8px;
    font-size: 1.4rem;
    width: 24px;
    height:24px;
    background: #eee;
    text-align:center;
    padding: 4px;
  }

  @media(min-width: 768px) {
    .intro {
      padding: 0 0 64px 0;
    }
    .intro .lead {
      font-size: 1.8rem;
      line-height: 2.8rem;
      margin-right: 200px;
    }
    .intro .share {
      position: absolute;
      right:-8px;
      top: 64px;
      width: 200px;
    }
    .intro .share__link {
      flex-direction: row-reverse;
    }
  }

  


  .subhead-rt.date {
    font-family: Akkurat-Regular,sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #919191;
  }

  .bordered-header.primary,
  .bordered-header.primary a {
    color: #e04119;
  }

  .bordered-header.primary {
    font-size: 2.1rem;
    border-top: 3px solid;
    margin-top: 40px;
    padding-top: .6rem;
  }

  .graphic-header .center-page-wrapper {
    background: none;
  }


  .legend-item {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin-bottom: 16px;
  }

  .legend-item sup {
    color: #7d7d7d;
  }

  .legend-item__color {
    width: 16px;
    height: 16px;
    margin-right: 16px;
    background: #999;
  }

  .legend-item__label,
  .legend-choropleth__title {
    line-height: 1;
    font-family: GT-Eesti-Display-Bold,sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: .07rem;
  }



  .section .legend-item {
    min-width:120px;
  }

  .legend-choropleth {
    min-width: 240px;
  }

  .legend-choropleth__title {
    margin-bottom: 8px;
    display: block;
  }

  .legend-choropleth__gradient {
    width: 100%;
    height: 16px;
    background: linear-gradient(to right,#2C897F, rgba(215, 227, 244, 0.7) 50%, #e24000);
  }

  .legend-choropleth__labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .legend-choropleth__labels span {
    font-size: 1.2rem;
    color: #7d7d7d;
    width: 48px;
    text-align: center;
  }

  .legend-choropleth__min {
    position: relative;
    left: -24px;
  }

  .legend-choropleth__max {
    position: relative;
    left: 24px;
  }

  .section .footnote {
      font-size: 1.2rem;
      color: #7d7d7d;
      max-width: 320px;
      margin:auto;
      margin-left: 8px;
    }
  @media(min-width: 768px) {
    .section .footnote {
      font-size: 1.4rem;
      max-width: 480px;
    }
  }

  .footnote sup {
    margin-left: -8px;
  }
  




.chart {
  width: 100%;
  height: 100%;
  min-height: 360px;
}

.chart__box {
  fill:none;
  stroke-width: 3;
  stroke: #fff;
}

.chart__grid .domain,
.chart__grid  {
  stroke: #fff;
}

.chart__axis .domain,
.chart__axis .tick line {
  stroke: #fff;
}

.chart__axis .tick text {
  fill: #7d7d7d;
  font-size: 14px;
  font-family: GT-Eesti-Display-Bold, sans-serif;
}

.chart__line {
  stroke-dasharray: 3 1;
  stroke-dashoffset: 1
}

.chart__line {
  fill: none;
  stroke-width: 5;
  stroke-dasharray: 0;
  stroke: #ccc;
}
.chart__line--0 {
  stroke: #e24000;
}
.chart__line--1 {
  stroke: #434878;
}
.chart__line--2 {
  stroke: #2C897F;
}
.chart__line--3 {
  stroke: #94AABD;
}

.stripe {
  fill: #fff;
}

.stripe--dark {
  fill:#ccc;
}

.chart__area { 
  fill: url('#pattern-light')
}

.chart__area--alt { 
  fill: url('#pattern-dark')
}


.chart__tooltip {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.9);
  color: #fff;
  padding: 12px 16px;
  font-size: 14px;
  line-height:1.5;
  white-space: nowrap;
  transition: left 0.1s ease-out, transform 0.1s ease-out;
}
/** no tooltip on mobile */
@media(max-width: 420px) {
  .chart__tooltip {
    display: none!important;
  }
}

.chart__tooltip h1 {
  margin:0 0 8px 0;
  font-size: 14px;
  font-family: GT-Eesti-Display-Bold, sans-serif;
}

.chart__tooltip span {
  font-weight: 700;
  display: inline-block;
  min-width: 48px;
  margin-right: 8px;
}



.chart__tooltip--flip {
  transform: translateX(-100%);
}

.map__tooltip-row {
  font-size: 12px;
  height: 16px;
  margin-top:-4px;

  margin-bottom: 4px;
}

.map__tooltip-row span {
  margin-right:0;
  
}

.map__tooltip-row--down span {
  color: rgb(103, 237, 255);
}
.map__tooltip-row--up span {
  color: #ff8150;
}

.chart__tooltip-row {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-left: 20px;
  font-size: 12px;
  height: 16px;
  margin-bottom: 4px;
}

.chart__tooltip-row:before {
  content: "";
  display:block;
  position: absolute;
  width: 8px;
  height: 8px;
  background:#ccc;
  top:5px;
  margin:auto;
  left:-20px;
}
.chart__tooltip-row--0:before {
  background: #e24000;
}
.chart__tooltip-row--1:before {
  background: #434878;
}
.chart__tooltip-row--2:before {
  background: #2C897F;
}
.chart__tooltip-row--3:before {
  background: #94AABD;
}

.chart__marker-line {
  stroke: none;
  stroke-dasharray: 3 1;
  stroke-width: 2;
  transition: transform 0.1s ease-in-out;
}

.chart__marker-line--hover {
  stroke: rgba(0,0,0,0.1);
}

.chart__mark-lines line {
  stroke: rgba(0,0,0,0.3);
  stroke-dasharray: 3 3;
  stroke-width: 1;
}

.chart__mark-lines text {
  fill: #7d7d7d;
  font-size: 12px;
  font-family: Akkurat-Bold, sans-serif
}