<div class="section section--map">
  <div class="section__content">
    <div class="details">
      <h2 class="title">{{ .Get "title" }}</h2>
      <p class="description">{{ .Inner }}</p>
    </div>
    <div class="visual">
      <div id="map" class="map"></div>
    </div> 
    <div class="legend">
      <div class="legend-choropleth">
        <span class="legend-choropleth__title">Eviction Filings <span>last 30 days</span></span>
        <div class="legend-choropleth__gradient"></div>
        <div class="legend-choropleth__labels">
          <span class="legend-choropleth__min">-100%</span>
          <span class="legend-choropleth__mid">average</span>
          <span class="legend-choropleth__max">+100%</span>
        </div>
      </div>
    </div>
    <p class="footnote">
      <sup>1</sup> eviction filings relative to average between 2012 - 2016.
    </p>
  </div>
  <script>
    window.addEventListener("load", function () {
      var geojsonUrl = {{ .Page.Params.geojson }};
      var csvUrl = {{ .Page.Params.mapdata }};
      Elab.Map.createMap('map', geojsonUrl, csvUrl)
    })
  </script>
</div>
